        /* Center align the heading */
        h1 {
            width: 100%;
            text-align: center;
        }
        /* Set the display and alignment for the main and result sections */
        .pdfwork, .afterupload {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }
        /* Add margin-top to all elements inside .pdfwork */
        .pdfwork * {
            margin-top: 5px;
        }
        /* Hide the result section initially */
        .afterupload {
            display: none;
        }
        /* Hide the "Extract Another PDF" button initially */
        .another {
            display: none;
        }
        
#asterisco {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }




  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999; /* Assicura che la navbar sia sempre visibile sopra gli altri elementi */
  }
  
  .listen {
    /* Stile del pulsante */
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    display: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .text-box {
    background-color: green;
    /* Altri stili opzionali, come padding, margin, ecc. */
  }


  table {
    width: 100%;
  }

  td {
    border: 1px solid black;
    text-align: center; /* Allinea il contenuto al centro di default */
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .wrapper_notes{
    min-width: 600px;
  }


